.todo-item {
    width: 340px;
    height: 30px;
    padding: 0 16px;
    border: 1px solid #604444;
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: 0 2px 8px rgba(96, 68, 68, 0.08);
    font-size: 14px;
    color: #222;
    background: #faf9f6;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.todo-item  .todo-done {
    text-decoration: line-through;
}

.todo-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.todo-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    justify-content: center;
}

.todo-row .todo-delete-button {
    cursor: pointer;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.todo-empty {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
}

.todo-add{
    margin-top: 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.todo-add input {
    width: 350px;
}

.todo-add .todo-add-button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #1e8bfc;
    width:40px;
}
